.aboutpage{
    display: flex;
    padding-bottom: 100px;
}

.about-text-container {
    font-family: Helvetica;
    margin: auto;
    max-width: 1000px;
    border: transparent;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#personal_1 {
    margin: auto;
    height: 700px;
    width: auto;
    float: right;
    border: #98FB98 solid 2px;
}

.image-container {
    padding-right: 20px;
}
