
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');


.active-link {
    color: darkolivegreen;
    border-bottom: darkcyan solid 2px;
    text-decoration: none;
}

.navBar {
    position: relative;
    background: #98FB98;
    margin: 10px auto;
    text-decoration: none;
    overflow: hidden;
}

.navBar:hover {
    text-decoration: none;
}

.main-navlinks {
    display: inline;
    padding: 35px;
    font-family: "Lato";
    font-weight: bold;
    font-size: xx-large;
}

a, a:hover {
    text-decoration:none;
    color: forestgreen;
}


header[role="logotext"]{
    position: relative;
}

.navbar-brand {
    padding-left: 20px;
    float: left;
    font-family: "Lato";
    font-size: xx-large;
    color: forestgreen;
}

#logo {
    display: block;
    margin: 20px auto;
    width: auto;
    height: 80px;
}
#text-block {
    font-family: "Noto Sans";
    margin: 10px auto;
    font-size: xxx-large;
    color: forestgreen;
}

.idl-footer {
    position: absolute;
    bottom: 1px;
    float: bottom;
}

.fixed-bottom {
    margin: 2px auto;
}

#logo_footer {
    position: relative;
    float: left;
    width: auto;
    height: 60px;
}

.footer-text{
    display: inline;
    position: relative;
    font-size: small;
    padding: 2px;
}

#ft-a {
    ;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 3px;
}

.social-media {
    padding-top: 10px;
    padding-right: 20px;
    display: inline;
    float: right;
}